<script>
    function startTimer() {
            location.reload()
            console.log('reload')
            setTimeout(startTimer, 1000);
        }
</script>
<footer class="footer">
    <div id="pol">

    </div>
    <div>
        SPOT PRICE - <%= spotPrice %>
    </div>
</footer>
